<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <ExcludeByFile>
            **/BoardGameTracker.Host/**
            **/DataStore/**
          </ExcludeByFile>
          <ExcludeByAttribute>
            Obsolete
            GeneratedCodeAttribute
            CompilerGeneratedAttribute
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>