@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-menu {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.hidden-menu {
  transform: translateY(-130%);
}

.rt-TextFieldInput {
  display: block !important;
}