@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')
layer(base);

@import 'tailwindcss';

@theme {
  /* Custom Breakpoints */
  --breakpoint-2xl: 100rem;

  /* Custom Colors */
  --color-page-black: #121212;
  --color-card-black: #100c1d;
  --color-card-light: #141022;
  --color-card-border: #1e192c;
  --color-input: #1e1a2d;
  --color-primary: #a855f7;
  --color-dialog: #1a0f2e;
  --color-card: #1a0f2e;
  --color-cancel: #a8a29e;
  --color-error: #cc1f1f;
  --color-card-value: #22d3ee;
  --color-lime-green: #40fa47;
  --color-error-dark: #ff1d1d1a;
  --color-background: #0a0416;

  /* Font Family */
  --font-family-sans: 'Chakra Petch', ui-sans-serif, system-ui, sans-serif;

  /* Transition Properties */
  --transition-max-height: max-height;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.radix-themes {
  --default-font-family: 'Chakra Petch', sans-serif;
  --heading-font-family: 'Chakra Petch', sans-serif;
  --color-background: #0a0416;
  background-color: var(--color-background);
}

.hide-arrow[type='number']::-webkit-inner-spin-button,
.hide-arrow[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: var(--default-font-family);
}

/* Apply to Radix components */
[class^='radix-'],
[class*=' radix-'] {
  font-family: var(--default-font-family);
}

.mobile-menu {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.hidden-menu {
  transform: translateY(-130%);
}

.rt-TextFieldInput {
  display: block !important;
}
