<Config>
  <CURRENCY>€</CURRENCY>
  <DECIMAL_SEPARATOR>,</DECIMAL_SEPARATOR>
  <DATE_FORMAT>MM-dd-yyyy</DATE_FORMAT>
  <TIME_FORMAT>HH:mm</TIME_FORMAT>
  <UI_LANGUAGE>nl-be</UI_LANGUAGE>
  <DB_HOST>localhost</DB_HOST>
  <DB_USER>dev</DB_USER>
  <DB_PASSWORD>dev</DB_PASSWORD>
  <DB_NAME>boardgametracker-dev</DB_NAME>
  <DB_PORT>5432</DB_PORT>
  <SHELF_OF_SHAME_ENABLED>True</SHELF_OF_SHAME_ENABLED>
  <SHELF_OF_SHAME_MONTHS>6</SHELF_OF_SHAME_MONTHS>
</Config>