<Config>
  <CURRENCY>€</CURRENCY>
  <DECIMAL_SEPARATOR>,</DECIMAL_SEPARATOR>
  <DATE_FORMAT>dd-MM-yyyy</DATE_FORMAT>
  <TIME_FORMAT>HH:mm</TIME_FORMAT>
  <UI_LANGUAGE>en-us</UI_LANGUAGE>
  <DB_HOST>localhost</DB_HOST>
  <DB_USER>dev</DB_USER>
  <DB_PASSWORD>dev</DB_PASSWORD>
  <DB_NAME>boardgametracker-dev</DB_NAME>
  <DB_PORT>5432</DB_PORT>
</Config>