$font-family: Helvetica, Arial, sans-serif !default;
$main-font-color: white !default;

$primary-color: lightblue !default;
$accent-color: red !default;

$important-color: orange !default;
$warning-color: red !default;

$main-background: linear-gradient(90deg, rgba(126, 64, 186, 1), rgba(26, 13, 45, 1)) !default;

$header-background: $main-background !default;