name: Docker Build and Push

on:
  push:
    branches:
      - dev
      - master
  pull_request:
    branches:
      - dev
      - master

env:
  REGISTRY: docker.io
  IMAGE_NAME: uping/boardgametracker

jobs:
  version:
    name: Calculate Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.versioning.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git Semantic Version
        uses: PaulHatch/semantic-version@v5.3.0
        id: versioning
        with:
          enable_prerelease_mode: ${{ github.ref == 'refs/heads/dev' }}
          namespace: ${{ github.ref == 'refs/heads/dev' && 'beta' || '' }}
          bump_each_commit: true
          version_format: "${major}.${minor}.${patch}-pre${increment}"
          debug: true

  test-frontend:
    name: Test and Lint Frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: 'npm'
          cache-dependency-path: boardgametracker.client/package-lock.json

      - name: Install dependencies
        run: |
          cd boardgametracker.client
          npm ci

      - name: Run Prettier check
        run: |
          cd boardgametracker.client
          npm run prettier

      - name: Run tests with coverage
        run: |
          cd boardgametracker.client
          npm run test:coverage

      - name: Run ESLint
        run: |
          cd boardgametracker.client
          npm run lint:report

      - name: Upload frontend test coverage
        uses: actions/upload-artifact@v4
        with:
          name: frontend-tests
          path: boardgametracker.client/coverage
        if: ${{ always() }}

  test-backend:
    name: Test Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dotnet v8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Install dependencies
        run: dotnet restore ./BoardGameTracker.sln

      - name: Build
        run: dotnet build --no-restore

      - name: Test with dotnet
        run: |
          dotnet test ./BoardGameTracker.Tests/BoardGameTracker.Tests.csproj \
            --no-build \
            --no-restore \
            --logger trx \
            --results-directory "TestResults" \
            --collect "XPlat Code Coverage;Format=opencover" \
            -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.ExcludeByFile="**/BoardGameTracker.Host/**/*.cs,**/DataStore/**/*.cs,**/ViewModels/**/*.cs,**/Entities/**/*.cs"
      - name: Upload dotnet test results
        uses: actions/upload-artifact@v4
        with:
          name: backend-tests
          path: TestResults

      - name: Upload coverage file for debugging
        uses: actions/upload-artifact@v4
        with:
          name: coverage-opencover
          path: TestResults/**/coverage.opencover.xml
        if: ${{ always() }}

  sonarcloud:
    name: SonarCloud Analysis and Coverage Report
    runs-on: ubuntu-latest
    needs: [version, test-frontend, test-backend]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Setup dotnet v8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ./.sonar/scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        run: |
          mkdir -p ./.sonar/scanner
          dotnet tool update dotnet-sonarscanner --tool-path ./.sonar/scanner

      - name: Download backend test results
        uses: actions/download-artifact@v4
        with:
          name: backend-tests
          path: TestResults

      - name: Download frontend test coverage
        uses: actions/download-artifact@v4
        with:
          name: frontend-tests
          path: boardgametracker.client/coverage

      - name: Install dependencies
        run: dotnet restore

      - name: Begin SonarCloud analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./.sonar/scanner/dotnet-sonarscanner begin \
            /k:"${{ secrets.SONAR_PROJECT_KEY }}" \
            /o:"${{ secrets.SONAR_ORGANIZATION }}" \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
            /d:sonar.host.url="https://sonarcloud.io" \
            /v:"${{ needs.version.outputs.version }}" \
            /d:sonar.cs.opencover.reportsPaths="TestResults/**/coverage.opencover.xml" \
            /d:sonar.cs.vstest.reportsPaths="TestResults/*.trx" \
            /d:sonar.javascript.lcov.reportPaths="boardgametracker.client/coverage/lcov.info" \
            /d:sonar.testExecutionReportPaths="boardgametracker.client/coverage/sonar-report.xml" \
            /d:sonar.coverage.exclusions="**/BoardGameTracker.Host/**/*.cs,**/BoardGameTracker.Core/Datastore/**/*.cs,**/ViewModels/**/*.cs,**/Entities/**/*.cs,**/routeTree.gen.ts,**/tailwind.config.js" \
            /d:sonar.typescript.tsconfigPaths="boardgametracker.client/tsconfig.json" \
            /d:sonar.eslint.reportPaths="boardgametracker.client/coverage/eslint-report.json"

      - name: Build
        run: dotnet build --no-restore

      - name: End SonarCloud analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./.sonar/scanner/dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
        if: github.event_name != 'pull_request'

      - name: Code Coverage Report
        uses: danielpalme/ReportGenerator-GitHub-Action@5.3.11
        with:
          reports: "TestResults/**/coverage.opencover.xml;boardgametracker.client/coverage/lcov.info"
          targetdir: "coveragereport"
          reporttypes: "MarkdownSummaryGithub;Cobertura"
          assemblyfilters: "-BoardGameTracker.Host;-BoardGameTracker.DataStore"
          filefilters: "-**/ViewModels/**;-**/Entities/**"

      - name: Publish Coverage Summary
        run: cat coveragereport/SummaryGithub.md >> $GITHUB_STEP_SUMMARY

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: coveragereport/SummaryGithub.md

  build-and-publish:
    needs: [version, test-backend, test-frontend]
    name: Build and Publish Application
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dotnet v8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Update package.json version
        run: |
          cd boardgametracker.client
          npm version ${{ needs.version.outputs.version }} --no-git-tag-version

      - name: Restore dependencies
        run: dotnet restore ./BoardGameTracker.Host/BoardGameTracker.Host.csproj

      - name: Publish application
        run: dotnet publish ./BoardGameTracker.Host/BoardGameTracker.Host.csproj -c Release -o ./publish /p:Version=${{ needs.version.outputs.version }}

      - name: Upload publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: published-app
          path: ./publish

  build-linux-container:
    needs: [version, build-and-publish]
    name: Build and Push Linux Container
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download publish artifact
        uses: actions/download-artifact@v4
        with:
          name: published-app
          path: ./publish

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          tags: |
            uping/boardgametracker:${{ needs.version.outputs.version }}
            uping/boardgametracker:${{ github.ref == 'refs/heads/dev' && 'dev' || 'latest' }}
          push: true
          file: Dockerfile
